:root{
--bg:#f4f6f8;
--text:#000;
--card:#fff;
--primary:#2563eb;
}

body.dark{
--bg:#0f172a;
--text:#fff;
--card:#1e293b;
--primary:#38bdf8;
}

body{
margin:0;
font-family:Arial;
background:var(--bg);
color:var(--text);
}

header{
padding:40px;
background:var(--primary);
color:white;
text-align:center;
}

nav{
background:#020617;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:0 10px;
text-decoration:none;
}

section{
padding:40px;
}

.page{
animation:slide 0.6s ease;
}

@keyframes slide{
from{opacity:0;transform:translateX(50px);}
to{opacity:1;transform:translateX(0);}
}

.toggle{
position:fixed;
bottom:20px;
right:20px;
padding:15px;
border-radius:50%;
border:none;
cursor:pointer;
background:var(--primary);
color:white;
}
